form {
    display:flex;
    justify-content: center;
}

form section {
    display:flex;
    flex-direction: column;
    padding: 20px;
    width:45%;
    text-align: start;
} 

form label {
    margin:10px 0;
}

form input{
   padding:15px 30px;
   margin:10px 2px;
   font-size:15px;
   border:solid 2px rgba(219,219,219);
   border-radius:10px;
}