.row{
    
    display: flex;
    justify-content: center; 
    flex-direction: column;
    
}

.row >div {
    margin: 3px;
    flex-wrap: wrap;
    text-transform: uppercase; 
}

 h4{
        
        border-style: solid;
        border-color: rgb(203, 116, 85);
        text-transform: uppercase; 
        align-self: center;
}
